<div style="font-family:Muli,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;width:100%!important;height:100%;line-height:1.6em;background-color:#FAFAFA;margin:0" bgcolor="#FAFAFA">
    <table class="m_6140869081174694005m_-8269065236806379741body-wrap" style="font-family:'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;width:100%;margin:0" bgcolor="#FAFAFA">
       <tbody>
          <tr style="font-family:'Muli',sans-serif;box-sizing:border-box;font-size:14px;margin:0">
             <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;vertical-align:top;margin:0" valign="top"></td>
             <td class="m_6140869081174694005m_-8269065236806379741container" width="700" style="font-family:'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;vertical-align:top;display:block!important;max-width:700px!important;clear:both!important;margin: auto" valign="top">
                <div class="m_6140869081174694005m_-8269065236806379741content" style="font-family:'Muli',sans-serif;box-sizing:border-box;font-size:16px;max-width:700px;display:block;margin:0 auto;padding:2 0px">
                   <table class="m_6140869081174694005m_-8269065236806379741main" width="100%" cellpadding="0" cellspacing="0" style="font-family:'Muli',sans-serif;box-sizing:border-box;font-size:16px;border-radius:0px;background-color:#fff;margin:0;border:1px solid #e9e9e9" bgcolor="#fff">
                      <tbody>
                        <div style="background: linear-gradient(to right, #03AC0E 50%,#0E3033 50%);
                        position: relative;
                        content: '';
                        height: 5px;
                        "></div>
                         <tr style="font-family:'IBM Plex Sans',sans-serif;box-sizing:border-box;font-size:15px;margin:0">
                            <td class="m_6140869081174694005m_-8269065236806379741content-wrap" style="font-family:'IBM Plex Sans',sans-serif;box-sizing:border-box;font-size:15px;vertical-align:top;margin:0;padding:35px; padding-top: 25px;background-color:#FAFAFA" valign="top">
                               <table width="100%" cellpadding="0" cellspacing="0" style="font-family:'IBM Plex Sans',sans-serif;box-sizing:border-box;font-size:15px;margin:0;background-color:#ffffff;padding:30px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)">
                                  <tbody>
                                    <tr style="font-family:'Muli',sans-serif;box-sizing:border-box;font-size:14px;margin:0;">
                                        <td class="m_6140869081174694005m_-8269065236806379741alert m_6140869081174694005m_-8269065236806379741alert-warning" style="font-family:'Muli',sans-serif;box-sizing:border-box;font-size:16px;vertical-align:top;color:#fff;font-weight:500;border-radius:3px 3px 0 0;background-color:#fff;" bgcolor="#f68b03" valign="top">
                                            <img src=" https://cdn-staging-garapin.oss-ap-southeast-5.aliyuncs.com/static/internal/logo.png" class="CToWUd" style="width: 200px; display: block; margin: auto; margin-bottom: 20px;">
                                            <hr style="height: 0.5px; border-width:0;color:#F5F5F5;background-color:#F5F5F5">
                                        </td>
                                     </tr>
                                     <tr style="font-family:'IBM Plex Sans',sans-serif;box-sizing:border-box;font-size:15px;margin:0">
                                        <td class="m_6140869081174694005m_-8269065236806379741content-block" style="font-family:'IBM Plex Sans',sans-serif; letter-spacing: 0.015em; line-height:26px; text-align: justify; box-sizing:border-box;font-size:15px;vertical-align:top;margin:0;padding:30 35 20px" valign="top">
                                           <p>Hai {{.FullName}},</p>
                                           <p>Kamu telah berhasil mendaftar sebagai {{.Role}}.</p>
                                           <p>Silahkan klik link berikut <b style="color:#42b6f5">{{.Url}}</b></p>
                                        </td>
                                     </tr>
                                     <tr style="font-family:'IBM Plex Sans',sans-serif;box-sizing:border-box;font-size:14px;margin:0">
                                        <td class="m_6140869081174694005m_-8269065236806379741content-block" style="font-family:'IBM Plex Sans',sans-serif;box-sizing:border-box;font-size:15px; text-align: justify; line-height:26px; letter-spacing: 0.015em; vertical-align:top;margin:0;padding:0 35 40px" valign="top">
                                          <p>Terima kasih, <br >
                                             Tim GARAPIN
                                          </p>
                                        </td>
                                     </tr>
                                  </tbody>
                                  
                               </table>
                                <tr>
                                    <td align="center" style="background-color: #FAFAFA; color: rgba(0, 0, 0, 0.4);font-size:12px;font-family:'Open Sans',Arial,sans-serif; line-height:35px; padding:0 30 45px">
                                        Layanan customer service kami tersedia pada website <a style="color:#03AC0E" href=https://www.garapin.co>https://www.garapin.co</a>
                                    </td>
                                </tr>
                            </td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </td>
             <td style="font-family:'Muli',sans-serif;box-sizing:border-box;font-size:14px;vertical-align:top;margin:0" valign="top"></td>
          </tr>
       </tbody>
    </table>
    <div class="yj6qo"></div>
    <div class="adL">
    </div>
 </div>